<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A78C20EA1C16B5C3007E23EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A78C20FE1C16B5C3007E23EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A78C21091C16B5C3007E23EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
